<div class="px-4 py-5 my-5 text-center">
    <%= image_tag "kovapp.png", class: "d-block mx-auto mb-4", alt: ""%>

    <h1 class="display-5 fw-bold">Welcome to Kovapp</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Kovapp is a secure digital certificate signage and verification platform.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <% if current_user %>
          <%= link_to "View Certificates", '/certificates', class:"btn btn-primary text-white btn-lg px-4 gap-3" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-secondary text-white btn-lg px-4" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:"btn btn-secondary text-white btn-lg px-4" %>
        <% end %>
      </div>
    </div>
  </div>